In [1]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘textshaping’, ‘conflicted’, ‘jsonlite’, ‘ragg’, ‘stringr’


Warning message in install.packages("tidyverse"):
“installation of package ‘textshaping’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘ragg’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘tidyverse’ had non-zero exit status”

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
val = 0
distance <- function(x1, x2, y1, y2){
  val = sqrt((x1-x2)^2+(y1-y2)^2)
  val
}

In [4]:
# distance between (1,3) and (2,4)
distance(1,2,3,4)

#double check
sqrt((2-1)^2+(4-3)^2)

[1] 1.414214

[1] 1.414214

In [11]:
install.packages("class")
library(class)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [26]:
data("iris")

In [57]:
iris %>%
  distinct(Species)

  Species
1 setosa
2 versicolor
3 virginica

In [58]:
iris$Species <- factor(iris$Species, levels = c("setosa", "versicolor", "virginica"), labels = c("Setosa", "Versicolor", "Virginica"))

In [59]:
normalize <- function(x) {
return ((x - min(x)) / (max(x) - min(x))) }

In [60]:
iris_n <- as.data.frame(lapply(iris[0:4], normalize))

In [61]:
summary(iris_n$Petal.Width) #this verifies that the data is normalized

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.00000 0.08333 0.50000 0.45806 0.70833 1.00000

In [62]:
nrow(iris) # to find the total number of observations in a dataset

[1] 150

In [63]:
# For knn testing, a ratio of training to testing for machine learning should be around 70:30
iris_train <- iris_n[1:105,]
iris_test <- iris_n[106:150,]

In [71]:
iris1 <- iris %>%
  arrange(desc(Sepal.Length))

In [72]:
iris_train_labels <- iris1[1:105, 5]
iris_test_labels <- iris1[106:150, 5]

In [73]:
iris_test_pred <- knn(train = iris_train, test = iris_test,cl = iris_train_labels, k=12) #guideline for k is the sqrt of the # of observations

In [66]:
install.packages("gmodels")
library(gmodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [74]:
CrossTable(x = iris_test_labels, y = iris_test_labels, prop.chisq = FALSE)

   Cell Contents
|-------------------------|
|                       N |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  45


                 | iris_test_labels
iris_test_labels |     Setosa | Versicolor |  Virginica |  Row Total |
-----------------|------------|------------|------------|------------|
          Setosa |         39 |          0 |          0 |         39 |
                 |      1.000 |      0.000 |      0.000 |      0.867 |
                 |      1.000 |      0.000 |      0.000 |            |
                 |      0.867 |      0.000 |      0.000 |            |
-----------------|------------|------------|------------|------------|
      Versicolor |          0 |          5 |          0 |          5 |
                 |      0.000 |      1.000 |      0.000 |      0.111 |
                 |      0.000 |      1.000 |      0.000 |            |
                 |      0.000 |      0.111 |      0.000 |            |
-----------------|------------|------------|------------|------------|
       Virginica |          0 |          0 |          1 |          1 |
                 |      0.000 |      0.000 |      1.000 |      0.022 |
                 |      0.000 |      0.000 |      1.000 |            |
                 |      0.000 |      0.000 |      0.022 |            |
-----------------|------------|------------|------------|------------|
    Column Total |         39 |          5 |          1 |         45 |
                 |      0.867 |      0.111 |      0.022 |            |
-----------------|------------|------------|------------|------------|